*{
    margin: 0px;
    padding: 0px;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* font-family: 'silkserif'; */

}
html,body{
    height: 100%;
    width: 100%;
}
/* #page1{
    height: 100vh;
    width: 100%;
    background-color: lightblue;
}
#bic{
    height: 20vh;
    width: 10vw;
    background-color: red;
    top:40%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}
#box{
    height: 30vh;
    width: 20vw;
    background-color: red;
    top:40%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}

#page2{
    height:100vh;
    width: 100%;
    background-color: rgb(37, 240, 57);
}
#im{
    height: 100%;
    width: 50%;
    position: relative;
    left:50%;
    overflow:hidden;
    transform: translateX(-50%);
}
#im img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale:1.4;
}
#page3{
    height:100vh;
    width: 100%;
    color: #434b34;
    background-color: #555e42;
    padding:5vw;
    padding-top:10vw;
    font-size: 2vw;
    text-align: center;
}
#page4{
    height: 100vh;
    width: 100%;
    background-color: rgb(223, 234, 18);
} */

#crsr{
    pointer-events: none;
    height: 2.2vw;
    width: 2.2vw;
    border-radius:50%;
    /* background-color: white; */
    position:fixed;
    z-index: 999;
    border: 2px solid #ffffffb6;
    transform: translate(-50%,-50%);
    mix-blend-mode: difference;
}
 #loader{
    height: 100%;
    width: 100%;
    background-color: black;
    /* color:white; */
    padding: 22vh 8vw;
    position: fixed;
    line-height: 90px;
    gap:20px;
    z-index: 999;
    cursor: none;
    /* height: fit-content; */
}
#part1{
    display: flex;
    padding-right:50px;
    margin-bottom:20px;

}
#part1 h5,#part1 h6{
    font-family: 'silkserif';
    padding-right:30px;
    padding-bottom:45px;
    font-size:3vw;
    font-weight: 100;
}
.line h2{
    padding-left:30px;
    font-size:6.7vw;
    font-weight: 550;
    text-transform: uppercase;
    animation-name: anime;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
}
@keyframes anime {
    0%{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        opacity: 1;
    }
    43%{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        opacity: 0;

    }
    50%{
        font-family:'Times New Roman', Times, serif;
        -webkit-text-stroke: 1px #fff;
        color:transparent;
        opacity: 1;

    }
    100%{
        font-family:'Times New Roman', Times, serif;
        -webkit-text-stroke: 1px #fff;
        opacity: 0;
        color:transparent;
    }   
}
.line{
    height: fit-content;
    overflow: hidden;
    align-items: center;
    display: flex;
    justify-content: flex-start;
}
.line h1{
    font-size: 6.7vw; 
    text-transform: uppercase;
    font-weight:550;
}
#main{
    background-color: #151515;   
}
#page1{
    height: 100vh;
    width: 100%;
    /* background-color: #281717; */
}
#nav{
    display:flex;
    padding:3.4vw 5.7vw;
    justify-content: space-between;
}
#nav svg{
    padding-left:3vw;
}
#pa1{
    font-weight: 100;
    font-size:1vw;
}
#navPart2{
    display: flex;
    gap:2vw;
    
}

#navPart2 h3{
    font-weight: 100;
    font-size:1vw;
}
#page1Centre{
    width: 72%;
    margin-left: 28%;
    /* background-color:aqua ; */
    font-size: 5vw;
    font-weight: 100;
    line-height: 7vw;
    height: fit-content;
    text-transform: uppercase;
}
#page1Centre h2{
    font-weight: 400;
    /* font-family: */
}
#page1Centre:nth-child(2){
    margin-top:5vw;
}
#page1Centre h2 span{
    text-decoration: underline 0.6vw;
    padding-bottom:1vw;
    font-weight: 400;
}

#page1Centre h2:nth-child(3){
    padding-bottom:1vw;
}
#web:hover,#graphic:hover{
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight:500;
}
#page2{
    height: 100vh;
    width: 100%;
}