*{
    margin: 0px;
    padding: 0px;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* font-family: 'silkserif'; */

}
html,body{
    height: 100%;
    width: 100%;
}
/* #page1{
    height: 100vh;
    width: 100%;
    background-color: lightblue;
}
#bic{
    height: 20vh;
    width: 10vw;
    background-color: red;
    top:40%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}
#box{
    height: 30vh;
    width: 20vw;
    background-color: red;
    top:40%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}

#page2{
    height:100vh;
    width: 100%;
    background-color: rgb(37, 240, 57);
}
#im{
    height: 100%;
    width: 50%;
    position: relative;
    left:50%;
    overflow:hidden;
    transform: translateX(-50%);
}
#im img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale:1.4;
}
#page3{
    height:100vh;
    width: 100%;
    color: #434b34;
    background-color: #555e42;
    padding:5vw;
    padding-top:10vw;
    font-size: 2vw;
    text-align: center;
}
#page4{
    height: 100vh;
    width: 100%;
    background-color: rgb(223, 234, 18);
} */

#crsr{
    pointer-events: none;
    height: 2.2vw;
    width: 2.2vw;
    border-radius:50%;
    /* background-color: white; */
    position:fixed;
    z-index: 999;
    border: 2px solid #ffffffb6;
    transform: translate(-50%,-50%);
    mix-blend-mode: difference;
}
 #loader{
    height: 100%;
    width: 100%;
    background-color: black;
    /* color:white; */
    padding: 22vh 8vw;
    position: fixed;
    line-height: 90px;
    gap:20px;
    z-index: 999;
    cursor: none;
    /* height: fit-content; */
}
#part1{
    display: flex;
    padding-right:50px;
    margin-bottom:20px;

}
#part1 h5,#part1 h6{
    font-family: 'silkserif';
    padding-right:30px;
    padding-bottom:45px;
    font-size:3vw;
    font-weight: 100;
}
.line h2{
    padding-left:30px;
    font-size:6.7vw;
    font-weight: 550;
    text-transform: uppercase;
    animation-name: anime;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
}
@keyframes anime {
    0%{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        opacity: 1;
    }
    43%{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        opacity: 0;

    }
    50%{
        font-family:'Times New Roman', Times, serif;
        -webkit-text-stroke: 1px #fff;
        color:transparent;
        opacity: 1;

    }
    100%{
        font-family:'Times New Roman', Times, serif;
        -webkit-text-stroke: 1px #fff;
        opacity: 0;
        color:transparent;
    }   
}
.line{
    height: fit-content;
    overflow: hidden;
    align-items: center;
    display: flex;
    justify-content: flex-start;
}
.line h1{
    font-size: 6.7vw; 
    text-transform: uppercase;
    font-weight:550;
}
#main{
    background-color: #151515;   
}
#page1{
    height: 100vh;
    width: 100%;
    /* background-color: #281717; */
}
#nav{
    display:flex;
    padding:3.4vw 5.7vw;
    justify-content: space-between;
}
#main svg{
    padding-left:3vw;
    position: fixed;
    z-index: 5;
    left:05.5%;
    top:3.3%;
}
#pa1{
    font-size:1.4vw;
    padding-left:23vw;
    line-height: 2.1vh;
}
#pa1 h5{
    font-weight: 100;   
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#navPart2{
    display: flex;
    gap:2vw;
    
}

#navPart2 h3{
    font-weight: 100;
    font-size:1vw;
}
#page1Centre{
    width: 72%;
    margin-left: 28%;
    font-size: 5.2vw;
    font-weight: 100;
    line-height: 7vw;
    height: fit-content;
    text-transform: uppercase;
}
#page1Centre h2{
    font-weight: 500;
}
#page1Centre:nth-child(2){
    margin-top:5vw;
}
#page1Centre h2 span{
    text-decoration: underline 0.6vw;
    padding-bottom:1vw;
    font-weight: 400;
}

#page1Centre h2:nth-child(3){
    padding-bottom:1vw;
}
#web:hover,#graphic:hover{
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    text-decoration: none;
    font-weight:500;
}
#page2{
    height: 100vh;
    width: 100%;
    background-color: #151515;  
    position: relative;
}
#viCont{
    height: 70vh;
    width: 72vw;
    position:relative;
    left:28%;
    top:13%;
}
#viCur{
    height: 10vw;
    width: 10vw;
    position: fixed;
    background-color: #ffa63c;
    border-radius: 50%;
    left:77%;
    margin-top:2.4vw;
    display:flex;
    align-items: center;
    justify-content: center;
    z-index: 88;
}
#viCur i{       
    font-size:2.3vw;
}

#viCont img{
    height: 101%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}
#viCont video{
    padding:1px;
    height: 99%;
    object-fit: cover;
    width: 100%;
}
#page3{
    height: 100vh;
    width: 100%;
    /* background-color: #ffa63c; */
}
#page4{
    height: 120vw;
    width: 100%;
    padding:1vw;
    padding-left:28vw;
}
#page4 h2{
    font-size: 8.4vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 1vw;
}
#line{
    background-color: white;
    height: 0.1vh;
    width: 100%;
    /* margin:1.4vw 0; */
    margin-top:4vw;
    margin-bottom:1vw;
}
#para{
    font-size: 2.3vw;
    line-height: 2.8vw;
    width: 40%;
    padding: 2.3vw 0;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}
#para p{
    font-family:'silkserif';
}
#imP{
    
    display: flex;
    gap: 2vw;
    
}
#imP img{
    height: 90vh;
    width: 33vw;
    object-fit: cover;
}
#imP p{
    font-size: 1vw;
    width: 20vw;
}
#nila{
    height: 98vh;
    width: 30vw;
    background-color: #3f7df4;
    position: relative;
    z-index: 3;
    top:-12%;
    left: 23%;
}

#page5{
    height: 100vw;
    width: 100%;
    /* background-color: teal; */
}
#page5-line{
    height:1px;
    background-color: white;
    width: 66%;
    margin-left:27%;
}
#page5 h5{
    /* margin-top:2vw; */
    width: 69%;
    font-weight: 400;
    margin:2vw 27% ;
}
#MovText{
    margin-top:5vw;
    /* background-color: #3f7df4; */
    line-height: 7vw;
}
.cl{
    white-space: nowrap;
    overflow-x: hidden;
    /* background-color: red; */
    
}
.cl1{
    white-space: nowrap;
    overflow-x: hidden;
}
.cl h2{
    display: inline-block;
    font-size: 7.4vw;
    /* margin-right: 5px; */
    text-transform: uppercase;
    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
    color: transparent;
    animation-name: move;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.cl1 h2{
    display: inline-block;
    font-size: 7.4vw;
    /* margin-right: 5px; */
    text-transform: uppercase;
    -webkit-text-stroke: 1px #fff;
    font-weight: 400;
    color: transparent;
    animation-name: move;
    animation-duration: 18s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: reverse;
}
@keyframes move {
    from{
        transform: translateX(0);
    }
    to{
        transform:translateX(-100%);
    }
}
#MovText span{
    font-style: italic;
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-family: 'silk serif';
}
#footer{
    height: 100vh;
    width: 100%;
    padding-left: 30%;
}
#footer>h2{
    font-size: 3vw;
}
#fot{
    display: flex;
    justify-content: space-between;
}
.elem{
    width: 10%;
}